.icon,
.icon-start::before,
.icon-end::after{
  content: "";
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: var(--icon-position);
  mask-image: var(--icon-url);
  display: inline-block;
  width: var(--icon-width, var(--icon-size, 1em));
  height: var(--icon-height, var(--icon-size, 1em));
  background-color: var(--icon-color, var(--color-accent-base-default));

  --icon-margin: var(--margin-10);
}

.icon {
  --icon-position: center;
}

.icon-start::before {
  margin-right: var(--icon-margin);

  --icon-position: left;
}

.icon-end::after {
  margin-left: var(--icon-margin);

  --icon-position: right;
}

.icon-smile {
  --icon-url: url("../../../assets/images/favicon.svg");
}
