body {
  background-color: var(--color-neutral-background-default);
  font-family: var(--font-sans-serif), sans-serif;
  font-size: var(--font-size-md, 16px);
  color: var(--blocks-color-neutral-text-default);
}

/* Headings */
h1, .h1 {
  --flow-space: var(--margin-10);

  max-width: 100%;
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-xs); /* font height / font size example: 52/40 = 1.3 */
}

h2, .h2 {
  --flow-space: var(--margin-40);

  font-size: var( --font-size-xl);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-xs);
}

h3, .h3 {
  --flow-space: var(--margin-20);

  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-s);
}

/* Paragraph */
p, .p {
  font-weight: var(--font-weight-regular);
  font-style: normal;
  line-height: var(--line-height-l);

  @media only screen and (width > 576px) {
    --p-font-size: var(--font-size-md);
  }
}

a {
  --link-color: var(--color-accent-text-subtle);
  --link-background-color: transparent;
  color: var(--link-color);
  background-color: var(--link-background-color);

  &:hover {
    --link-color: var(--color-accent-text-default);
  }

  &:active {
    --link-color: var(--color-accent-text-default);
    --link-background-color: var(--color-accent-surface-default);
  }
}
