.container-sm {
  max-width: var(--container-sm);
  margin: auto;
}

.container-md {
  max-width: var(--container-md);
  margin: auto;
}

.container-lg {
  max-width: var(--container-lg);
  margin: auto;
}
