:root {
  /* Core tokens */
  --font-sans-serif: system-ui, "Segoe UI", Roboto, Helvetica, Arial;

  /* Spacing */
  --spacing-05: 5px;
  --spacing-10: 10px;
  --spacing-20: 20px;
  --spacing-40: 40px;
  --spacing-60: 60px;
  --spacing-80: 80px;
  --spacing-120: 120px;
  --spacing-200: 200px;

  /* Container widths */
  --container-sm: 75ch;
  --container-md: 970px;
  --container-lg: 1170px;

  /* Font size */
  --font-size-100: 13px;
  --font-size-150: 14px;
  --font-size-300: 16px;
  --font-size-350: 18px;
  --font-size-500: 20px;
  --font-size-550: 22px;
  --font-size-700: 24px;
  --font-size-750: 28px;
  --font-size-900: 32px;
  --font-size-925: 36px;
  --font-size-950: 40px;

  /* Font Weight */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Line height */
  --line-height-xs: 1.35;
  --line-height-s: 1.45;
  --line-height-m: 1.50;
  --line-height-l: 1.55;
  --line-height-xl: 1.60;
}
